/* * {
  border: 1px solid black;
} */

.App {
  text-align: center;
}

.container {
  height: 500px;
}

#quote-box {
  height: fit-content;
  width: 50%;
  padding: 10px;
  margin: 200px auto;
  border-radius: 5px;
}

.left-quote {
  float: left;
  font-size: 2rem;
}

.right-quote {
  float: right;
}

.text {
  
}

.author {
  margin: 20px 0 30px;
}


#tweet-quote {
  color: white;
  font-weight: bold;
  margin: 10px 0;
}
#new-quote {
  margin: 10px 0;
  font-weight: bold;
}

