/* * {
  border: 1px solid black;
} */

/* body {
  background-color: black !important;
} */

.App {
  text-align: center;
  background-image: url("https://w0.peakpx.com/wallpaper/986/879/HD-wallpaper-droid-jules-fiction-pulp-pulp-fiction-quentin-tarantino.jpg");
  background-repeat: no-repeat;
  background-size: 100vw 100vh;

  opacity: 1;
  height: 100vh;
  overflow: hidden;
  padding-top: 200px;
  transition: background-color 1.5s, color 1.5s;
}

.container {
  height: 500px;
}

.sound-button {
  position: absolute;
  top: 50px;
  right: 50px;
  background-color: yellow;
  border-radius: 10px;
  border: 0;
  padding: 10px 20px;
  width: 70px;
  min-width: 50px;
  opacity: 0;
  transition: opacity 2s;
}

.visible {
  opacity: 1;
}

.hidden {
  opacity: 0;
}

.sound-icon {
  color: orange;
  font-size: 1.5rem;
}

#quote-box {
  height: fit-content;
  width: 60%;
  padding: 10px 40px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

.left-quote {
  float: left;
  font-size: 2rem;
}

.quote-text {
  font-style: italic;
  font-weight: 400 !important;
}

.quote-author {
  margin: 20px 0 30px;
  font-size: 1.5rem;
  font-weight: 200;
}

.tweet-quote {
  color: white;
  font-weight: bold;
  margin: 10px 0;
  transition: background-color 1.5s !important;
}

.fa-share {
  color: white;
}

.new-quote {
  margin: 10px 0;
  font-weight: bold;
  transition: background-color 1.5s !important;
}

.red {
  color: #e52826 !important;
}

.yellow {
  color: #d5c000 !important;
}

.black {
  color: #121416 !important;
}

.orange {
  color: #ef8e01 !important;
}

.blue {
  color: #5098b2 !important;
}

.green {
  color: #468e27 !important;
}

.red {
  background-color: #e52826 !important;
}

.yellow {
  background-color: #d5c000 !important;
}

.black {
  background-color: #121416 !important;
}

.orange {
  background-color: #ef8e01 !important;
}

.blue {
  background-color: #5098b2 !important;
}

.green {
  background-color: #468e27 !important;
}
