@font-face {
  font-family: "Aachen Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Aachen Bold"),
    url("ufonts.com_aachen-bold-opentype.woff") format("woff");
}

body {
  margin: 0;
  font-family: "Aachen Bold", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
